<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Answer Bot</title>
</head>
<body>
    <div class="row">
        <div class="col-12">
            &nbsp;
        </div>
    </div>
    <div class="card">
        <div class="card card-header">
            <div class="d-flex align-items-center justify-content-center">
                <h1>Welcome to Answer Bot!</h1>
            </div>
        </div>
        <div class="card card-body">
            <p>Thank you for visiting our website.</p>
            <p>We are here to assist you with any questions you may have.</p>
        </div>
    </div>
</body>
</html>